<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liangcang"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <!-- 个推权限 -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />

    <application
        android:name="com.liangcang.base.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.liangcang.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".LoadingActivity" >

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name="com.liangcang.menus.MenuActivity"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name="com.liangcang.RegisterActivity">
        </activity>
         <activity
            android:name="com.liangcang.BuyWebActivity"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.liangcang.HomeActivity"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.liangcang.LoginActivity"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.liangcang.ChatActivity"
            android:configChanges="keyboard"
            android:launchMode="singleTask" >
        </activity>
        <activity android:name="com.liangcang.menus.RecommendActivity" />
        <activity android:name="com.liangcang.menus.SearchActivity" >
        </activity>
        <activity android:name="com.liangcang.menus.MenuCagegoryActivity" >
        </activity>
        <activity android:name="com.liangcang.menus.SettingActivity" >
        </activity>
        <activity android:name="com.liangcang.settings.MySelfSettingActivity" >
        </activity>
        <activity android:name="com.liangcang.settings.PasswordSettingActivity" >
        </activity>
        <activity
            android:name="com.liangcang.ItemDetailActivity"
            android:launchMode="singleTask" >
        </activity>
        <activity
            android:name="com.liangcang.RecommendActivity"
            android:launchMode="singleTask" >
        </activity>

        <!-- 个推 -->


        <!-- 接受消息 -->
        <receiver android:name="com.liangcang.managers.PullBroadcastReceiver" >

            <!-- 如下配置用于透传 -->
            <intent-filter>
                <action android:name="com.igexin.sdk.action.tsiV3RQGl07aTOZHwTdFh2" />
            </intent-filter>
        </receiver>

        <!-- 配置的第三方参数属性 -->
        <meta-data
            android:name="appid"
            android:value="tsiV3RQGl07aTOZHwTdFh2" />
        <meta-data
            android:name="appkey"
            android:value="qhZIbaXQif78bFgjyyV6h8" />
        <meta-data
            android:name="appsecret"
            android:value="T0qbnrxK5H7pulk9gDsNl9" />

        <activity
            android:name="com.igexin.sdk.GexinSdkActivity"
            android:excludeFromRecents="true"
            android:process="com.liangcang.pushservice"
            android:taskAffinity="android.task.GexinSdkActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="com.igexin.action.popupact.com.liangcang" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="com.igexin.sdk.aidl.GexinMsgService"
            android:label="NotificationCenterAIDL"
            android:process="com.liangcang.pushservice" >
            <intent-filter>
                <action android:name="com.igexin.sdk.aidl.action.com.liangcang" />
            </intent-filter>
        </service>
        <service
            android:name="com.igexin.sdk.GexinMainService"
            android:label="NotificationCenter"
            android:process="com.liangcang.pushservice" >
            <intent-filter>
                <action android:name="com.igexin.sdk.action.com.liangcang" />
            </intent-filter>
        </service>

        <receiver android:name="com.igexin.sdk.GexinSdkReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <service
            android:name="sdk.download.DownloadService"
            android:process="com.liangcang.pushservice" />

        <receiver
            android:name="sdk.download.DownloadReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <provider
            android:name="sdk.download.DownloadProvider"
            android:authorities="sdk.download.com.liangcang"
            android:process="com.liangcang.pushservice" />
        <!-- end个推 -->

    </application>

</manifest>